{% extends 'base.html' %}

{% block title %} Bookmark list {% endblock %}

{% block content %}
<div class="btn-group">
    <a href="{% url 'add' %}" class="btn btn-info">New Bookmark 추가하기</a>
</div>

<p></p>
<!-- 즐겨찾기 보기 버튼 추가 -->
<div class="btn-group mb-3">
    <a href="{% url 'favorite_list' %}?favorite=True" class="btn btn-warning">즐겨찾기 보기</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Num</th>
        <th scope="col">Site</th>
        <th scope="col">URL</th>
        <th scope="col">Favorite</th> <!-- 즐겨찾기 컬럼 추가 -->
        <th scope="col">Modify</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody>
    {% for bookmark in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'detail' pk=bookmark.id %}">{{ bookmark.site_name }}</a></td>
        <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
        <td>
            <form action="{% url 'toggle_favorite' pk=bookmark.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                {% if bookmark.favorite %}
                    <button type="submit" class="btn btn-warning btn-sm">★ Favorite</button>
                {% else %}
                    <button type="submit" class="btn btn-outline-warning btn-sm">☆ Not Favorite</button>
                {% endif %}
            </form>
        </td>
        <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success btn-sm">수정하기</a></td>
        <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">삭제하기</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block pagination %}
    {% if is_paginated %}
    <ul class="pagination justify-content-center pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        {% for object in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == forloop.counter %}disabled{% endif %}">
                <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
